<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="chrome=1">
		<title>{{ page.title }}</title>

		<link rel="stylesheet" href="/stylesheets/styles.css">
		<link rel="stylesheet" href="/stylesheets/pygment_trac.css">
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
		<!--[if lt IE 9]>
		<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
	</head>
	<body>
		<header role="banner">
			<h1>Spencer Baynton</h1>
			<p class="view"><a href="https://github.com/SpencerBaynton">View My GitHub Profile</a></p>
		</header>
		<main role="main">
			{{ content }}
		</main>
		<footer role="contentinfo">
			<p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
		</footer>
		<script src="javascripts/scale.fix.js"></script>
	</body>
</html>